---
const { info } = Astro.props;
---

<a href={`/detail/${info.id}`} class="gallery-item">
  <img
    loading="lazy"
    class="gallery-item__img"
    style={`view-transition-name: item-image-${info.id}`}
    src={info.mini}
  />
  <div class="gallery-item__info">
    <h2 class="gallery-item__title">
      <span style={`view-transition-name: title-${info.id}`}>
        {info.title}
      </span>
    </h2>
    <span class="gallery-item__subtitle">{info.subtitle}</span>
  </div>
</a>

<style>
  .gallery-item {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .gallery-item__img {
    width: 100%;
  }

  .gallery-item__info {
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    padding: 1.5rem;

    transition: 0.3s ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 1rem 2rem 2rem white;
    object-fit: border-box;
  }

  .gallery-item:hover .gallery-item__info {
    opacity: 1;
  }

  .gallery-item__title {
  }

  .gallery-item__subtitle {
    opacity: 0.6;

    font-size: 1rem;
  }
  .gallery-item__img {
    width: 100%;
    object-fit: contain;
  }

</style>
