---
const { info } = Astro.props;
---

<a href={`/detail/${info.id}`} class="gallery-item">
  <img
    loading="lazy"
    class="gallery-item__img"
    style={`view-transition-name: item-image-${info.id}`}
    src={info.mini}
  />
  <div class="gallery-item__info">
    <h2 class="gallery-item__title">
      <span style={`view-transition-name: title-${info.id}`}>
        {info.title}
      </span>
    </h2>
    <span class="gallery-item__subtitle">{info.subtitle}</span>
  </div>
</a>

