---
import { work } from "../../data/work";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = () => {
  return work.map((w) => {
    return {
      params: {
        id: w.id,
      },
    };
  });
};

const { id } = Astro.params;

const info = work.find((w) => w.id === id);
---

<Layout title={`Carmen Bonita ${info?.title}`}>
  <main>
    <h1 class="detail-title">
      <span style={`view-transition-name: title-${info?.id}`}
        >{info?.title}</span
      >
    </h1>
    <img
      src={info?.mini}
      style={`view-transition-name: item-image-${info?.id}`}
    />
  </main>
</Layout>

<style>
  .detail-title {
    font-size: 3rem;
  }
</style>
